body{
   background-image: url("assets/Screen\ Shot\ 2026-02-14\ at\ 9.48.54\ PM.png");  
  background-size: 1440px 684px;
   

    h1{
        color: #7e72ff;
        text-align: center;
        font-size: 62px;
          margin-top: 1.23in;
        margin-bottom: -3.5in;

        font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    }
    
     h2{
        color: #ff0000;
        font-size: 237px;
        margin-top: 296px; margin-bottom: 0px; margin-left: 453px;
    
        font-family: "Antonio", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        
    }

      h3{
        color: #6557ff;
        text-align: center;
        margin-top: 20px;
        
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    }

    h4{
      color: #6557ff;
        text-align: center;
        margin-top: 20px;
        margin-top: -300px;
        margin-right: 1107px;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    }
   
    .para-1{
   color: #6557ff;
        text-align: center;
        margin-top: 26px;
        margin-bottom: 700px;
        margin-right: 1148px;
        margin-left: 0;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
 }

 .para-2{
    color: #6557ff;
        margin-top: -878px;
        margin-bottom: 700px;
        margin-right: 1148px;
        margin-left: 0;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
 }
    background-color: #C2C2C1
}