body{
   background-image: url("assets/Screen\ Shot\ 2026-02-14\ at\ 9.48.54\ PM.png");  
  background-size: 1440px 684px;
   

    h1{
        color: #7e72ff;
        text-align: center;
        font-size: 5cap;
          margin-top: 1.2in;
        margin-bottom: -3.2in;
    }
    
     h2{
        color: #000000;
        text-align: center;
        font-size: 30cap;
    
        font-family: "Antonio", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
         margin-top: 2.6in;
    }

      h3{
        color: #6557ff;
        text-align: center;
        margin-top: -2.7in;
        
    }

    .rectangle {
              width: 200px;
              height: 100px;
              background-color: #6557ff;
    }
    background-color: #C2C2C1
}